[Unit]
Description=Sonoff Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/etc/sonoff/sonoff.sh start
ExecStop=/etc/sonoff/sonoff.sh stop

[Install]
WantedBy=multi-user.target

